<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.nkuyu.apps.termweaver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>TermWeaverPreferencePane</string>
	<key>NSPrincipalClass</key>
	<string>TWPreferencePane</string>
	<key>NSPrefPaneIconFile</key>
	<string>TermWeaverPreferencePane.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>TermWeaver</string>
	<key>CFBundleName</key>
	<string>TermWeaver</string>
	<key>SUFeedURL</key>
	<string>http://nkuyu.net/apps/termweaver/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
