<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotKeyNewTerminalWindowEnabled</key>
	<true/>
	<key>hotKeyNewTerminalWindowCode</key>
	<integer>42</integer>
	<key>hotKeyNewTerminalWindowFlags</key>
	<integer>786432</integer>
	<key>hotKeyNewTerminalTabEnabled</key>
	<true/>
	<key>hotKeyNewTerminalTabCode</key>
	<integer>42</integer>
	<key>hotKeyNewTerminalTabFlags</key>
	<integer>917504</integer>
</dict>
</plist>
